/* @import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vertical-padding: 64px;
}

.min-h-screen {
  min-height: 130vh !important;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.textgray {
  color: #444444;
}

@font-face {
  font-family: 'morangamd';
  src: url('/assets/Fonts/Moranga Font/Latinotype - Moranga Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'morangarg';
  src: url('/assets/Fonts/Moranga Font/Latinotype - Moranga Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'sfprobold';
  src: url('/assets/Fonts/SF Pro Display Font/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'sfpromd';
  src: url('/assets/Fonts/SF Pro Display Font/SFPRODISPLAYMEDIUM.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'sfprorg';
  src: url('/assets/Fonts/SF Pro Display Font/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.morangamd {
  font-family: 'morangamd', sans-serif;
}
.morangarg {
  font-family: 'morangarg', sans-serif;
}
.sfprobold {
  font-family: 'sfprobold', sans-serif;
}
.sfpromd {
  font-family: 'sfpromd', sans-serif;
}
.sfprorg {
  font-family: 'sfprorg', sans-serif;
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
